{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% if media.field_citation_image.value %}
  {% set classes = 'col-sm-6' %}
{% else %}
  {% set classes = 'col-sm-12' %}
{% endif %}

<article class="citation">
  <div class="row">
    <div class="citation__left {{ classes }}">
      <div class="citation__text">{{ content.field_citation_text|field_value }}</div>
      <div class="citation__title">{{ content.field_citation_title|field_value }}</div>
      <div class="citation__date">{{ content.field_citation_date|field_value }}</div>
    </div>
    {% if media.field_citation_image.value %}
    <div class="citation__right {{ classes }}">
      <div class="citation__image">{{ content.field_citation_image }}</div>
    </div>
    {% endif %}
    {% if content.field_tags|render %}
      {{ content.field_tags }}
    {% endif %}
  </div>
</article>
