{% set label = attributes.storage.value %}

{% spaceless %}
  {% if input_group %}
    <div class="input-group">
  {% endif %}

  {% if prefix %}
    {{ prefix }}
  {% endif %}

  {% block input %}
    <button{{ attributes.addClass(classes) }}>{{ icon }}{{ label }}<i class="fa fa-search"></i></button>{{ children }}
  {% endblock %}

  {% if suffix %}
    {{ suffix }}
  {% endif %}

  {% if input_group %}
    </div>
  {% endif %}

  {{ children }}
{% endspaceless %}


