{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<article class="media media-contact">
  <div class="row">
    <div class="col-md-12 media-contact__image-wrapper">
      <div class="media-contact__image">{{ content.field_contact_image }}</div>
    </div>
    <div class="col-md-12 media-contact__info">
      <h2 class="media-contact__position">{{ content.field_contact_position|field_value }}</h2>
      <div class="media-contact__title">{{ content.field_contact_title|field_value }}</div>
      <div class="media-contact__tel">{% trans %}Tel.:{% endtrans %} {{ content.field_contact_tel|field_value }}</div>
      <div class="media-contact__fax">{% trans %}Fax:{% endtrans %} {{ content.field_contact_fax|field_value }}</div>
      <div class="media-contact__email">{% trans %}E-Mail:{% endtrans %} <a href="mailto:{{ content.field_contact_email|field_value }}">{{ content.field_contact_email|field_value }}</a></div>
    </div>
    {% if content.field_tags|field_value %}
      <div class="tags">{{ content.field_tags|field_value }}</div>
    {% endif %}
  </div>
</article>
