{#
/**
 * @ingroup themeable
 */
#}

{%
    set classes = [
        'platforms',
        appearance.orientation == 'h' ? 'inline horizontal' : 'vertical',
    ]
%}

<ul{{ attributes.addClass(classes) }}>
    {% for platform in platforms %}
        <li>
            <a data-toggle="tooltip" data-placement="bottom" title="{{ platform.name }}" href="{{ platform.url }}" {{ link_attributes }}>
                {{ platform.element }}
            </a>

            {% if appearance.show_name %}
                {% if appearance.orientation == 'h' %}
                    <br />
                {% endif %}

                <span><a href="{{ platform.url }}" {{ link_attributes }}>{{ platform.name }}</a></span>
            {% endif %}
        </li>
    {% endfor %}
</ul>
