{#
/**
 * @file
 * Default theme implementation to display the basic html structure of a single
 * Drupal page.
 *
 * Variables:
 * - $css: An array of CSS files for the current page.
 * - $language: (object) The language the site is being displayed in.
 *   $language->language contains its textual representation.
 *   $language->dir contains the language direction. It will either be 'ltr' or
 *   'rtl'.
 * - $rdf_namespaces: All the RDF namespace prefixes used in the HTML document.
 * - $grddl_profile: A GRDDL profile allowing agents to extract the RDF data.
 * - $head_title: A modified version of the page title, for use in the TITLE
 *   tag.
 * - $head_title_array: (array) An associative array containing the string parts
 *   that were used to generate the $head_title variable, already prepared to be
 *   output as TITLE tag. The key/value pairs may contain one or more of the
 *   following, depending on conditions:
 *   - title: The title of the current page, if any.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site, if any, and if there is no title.
 * - $head: Markup for the HEAD section (including meta tags, keyword tags, and
 *   so on).
 * - $styles: Style tags necessary to import all CSS files for the page.
 * - $scripts: Script tags necessary to load the JavaScript files and settings
 *   for the page.
 * - $page_top: Initial markup from any modules that have altered the
 *   page. This variable should always be output first, before all other dynamic
 *   content.
 * - $page: The rendered page content.
 * - $page_bottom: Final closing markup from any modules that have altered the
 *   page. This variable should always be output last, after all other dynamic
 *   content.
 * - $classes String of classes that can be used to style contextually through
 *   CSS.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_html()
 * @see template_preprocess()
 * @see template_preprocess_html()
 * @see template_process()
 */
#}

{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    theme.settings.navbar_position ? 'navbar-is-' ~ theme.settings.navbar_position,
    theme.has_glyphicons ? 'has-glyphicons',
    print ? 'print'
  ]
%}
<!DOCTYPE html>
<html {{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/{{ base_path ~ directory }}/public/images/icon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/{{ base_path ~ directory }}/public/images/icon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/{{ base_path ~ directory }}/public/images/icon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/{{ base_path ~ directory }}/public/images/icon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/{{ base_path ~ directory }}/public/images/icon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/{{ base_path ~ directory }}/public/images/icon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/{{ base_path ~ directory }}/public/images/icon/apple-touch-icon-x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/{{ base_path ~ directory }}/public/images/icon/apple-touch-ico152x152.png" />
    <link rel="icon" type="image/png" href="/{{ base_path ~ directory }}/public/images/icon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="/{{ base_path ~ directory }}/public/images/icon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/{{ base_path ~ directory }}/public/images/icon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/{{ base_path ~ directory }}/public/images/icon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/{{ base_path ~ directory }}/public/images/icon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/{{ base_path ~ directory }}/public/images/icon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/{{ base_path ~ directory }}/public/images/icon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/{{ base_path ~ directory }}/public/images/icon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="/{{ base_path ~ directory }}/public/images/icon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="/{{ base_path ~ directory }}/public/images/icon/mstile-310x310.png" />
    <link rel="icon" href="{{ base_path ~ directory }}/public/images/icon/favicon.ico">
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
