{#
/**
 * @file
 * Theme override for a set of links.
 *
 * Available variables:
 * - attributes: Attributes for the UL containing the list of links.
 * - links: Links to be output.
 *   Each link will have the following elements:
 *   - title: The link text.
 *   - href: The link URL. If omitted, the 'title' is shown as a plain text
 *     item in the links list. If 'href' is supplied, the entire link is passed
 *     to l() as its $options parameter.
 *   - attributes: (optional) HTML attributes for the anchor, or for the <span>
 *     tag if no 'href' is supplied.
 *   - link_key: The link CSS class.
 * - heading: (optional) A heading to precede the links.
 *   - text: The heading text.
 *   - level: The heading level (e.g. 'h2', 'h3').
 *   - attributes: (optional) A keyed list of attributes for the heading.
 *   If the heading is a string, it will be used as the text of the heading and
 *   the level will default to 'h2'.
 *
 *   Headings should be used on navigation menus and any list of links that
 *   consistently appears on multiple pages. To make the heading invisible use
 *   the 'visually-hidden' CSS class. Do not use 'display:none', which
 *   removes it from screen readers and assistive technology. Headings allow
 *   screen reader and keyboard only users to navigate to or skip the links.
 *   See http://juicystudio.com/article/screen-readers-display-none.php and
 *   http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 *
 * @ingroup templates
 *
 * @see template_preprocess_links()
 */
#}
<form class="lang_dropdown_form language" id="lang_dropdown_form_language" action="/" method="post" accept-charset="UTF-8">
  <label for="edit-lang-dropdown-select">{{ 'Language'|trans }}:</label>
  <select class="lang-dropdown-select-element form-select" id="edit-lang-dropdown-select" name="lang_dropdown_select">
    {%- for key, link in links -%}
      {% if key == current_language %}
      <option value="{{ key }}" selected>{{ key }}</option>
      {% else %}
      <option value="{{ key }}">{{ key }}</option>
      {% endif %}
    {%- endfor -%}
  </select>
  <a class="selector" tabindex="0">{{ current_language }} <i class="fa fa-angle-down" aria-hidden="true"></i></a>
  <ul id="options" class="options is-hidden">
    {%- for key, link in links -%}
      <li>
        {{ link.link }}
      </li>
    {%- endfor -%}
  </ul>
</form>