{#
/**
 * @file
 * Default theme implementation to present a media entity.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
<article class="address">
  <h2 class="address__headline">{{ name }}</h2>
  <div class="address__label"><strong>{{ 'Postanschrift:'|trans }}</strong></div>
  <div class="address__title">{{ content.field_address_title }}</div>
  <div class="address__address">{{ content.field_address_address }}</div>
  {% if content.field_address_email|render %}
    <div class="address__email"><span>{{ 'E-Mail:'|trans }} </span>{{ content.field_address_email|field_value }}</div>
  {% endif %}
  {% if content.field_address_fax|field_value %}
    <div class="address__fax"><span>{{ 'Fax:'|trans }} </span>{{ content.field_address_fax|field_value }}</div>
  {% endif %}
  {% if content.field_address_phone|field_value %}
    <div class="address__phone"><span>{{ 'Tel:'|trans }} </span>{{ content.field_address_phone|field_value }}</div>
  {% endif %}
  {% if content.field_tags|field_value %}
    <div class="tags">{{ content.field_tags|field_value }}</div>
  {% endif %}
</article>
