<div class="nrw-menu nrw-menu-footer">
    {% for menu_item in menu_items.menu_tree %}
    <div class="nrw-menu-footer__col">
        <div class="nrw-menu-footer__header">
            <!-- First level of main menu-->
            <a class="link{% if menu_item.external %} link--external{% endif %}" href="{{ menu_item.url }}" title="{{ menu_item.description }}"{% if menu_item.external %} target="_blank"{% endif %}>
                {{ menu_item.text }}</a>
        </div>
        <div class="nrw-menu-footer__content">
            {% if menu_item.submenu is not empty %}
            <!-- Second level of main menu-->
            <ul class="nrw-menu__list">
                {% for submenu_item in menu_item.submenu %}
                    <li class="nrw-menu__item">
                        <a class="link{% if submenu_item.external %} link--external{% endif %}" href="{{ submenu_item.url }}" title="{{ submenu_item.description }}"{% if submenu_item.external %} target="_blank"{% endif %}>
                            {{ submenu_item.text }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>