{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
 #}

<div class="nrw-menu-sidebar-sub">

{% import _self as menus %}
{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
  #}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
{% import _self as menus %}

{% if items %}
  <ul class="nrw-menu-sidebar-sub__menu-list nrw-menu-sidebar-sub__menu-list--level-{{ menu_level + 4 }}">
    {% for item in items %}
      {%
        set item_classes = [
          item.is_expanded? 'expanded',
          item.in_active_trail ? 'active',
        ]
      %}

      <li{{ item.attributes.addClass(item_classes) }}>
        {# Set icons according to menu level depth #}
        {% if menu_level == 0 %}
          {% if item.below is not empty %}
            <i class="fa fa-angle-up" aria-hidden="true"></i>
          {% else %}
            <i class="fa fa-angle-down" aria-hidden="true"></i>
          {% endif %}
        {% else %}
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        {% endif %}

        {{ link(item.title, item.url) }}

        {# Submenus of menu item #}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes.removeClass('nav', 'navbar-nav'), menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% endmacro %}
</div>
